<!-- <div class="navbar">
  <link rel="stylesheet" href="/css/courses.css" />
  <h1>Study <span style="color: rgb(0, 85, 255)">Space</span></h1>
  <div>
    <a href="/index">Home</a>
    <a href="/about">About</a>
    <a href="/courses">Courses</a>
    <a href="#">Contact us</a>
    <a href="/login"><button id="btn-login">LOG IN</button></a>
    <a href="/signup"><button id="btn-signup">SIGN UP</button></a>
  </div>
</div> -->
