<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/about.css" />
    <link rel="stylesheet" href="css/nav.css" />

    <title>About Us - Study Hub</title>
  </head>
  <body>
    <%- include("../includes/navbar.ejs") %>

    <div class="container">
      <h1>About Us</h1>
      <section class="introduction">
        <h2>Welcome to Study Space</h2>
        <p>
          At Study Hub, we are dedicated to providing students with high-quality
          educational resources and study materials. Our goal is to make
          learning accessible and engaging for everyone.
        </p>
        <p>
          We offer a range of materials, including notes, quizzes, and video
          tutorials, to help students excel in their studies. Whether you are
          preparing for exams or seeking to expand your knowledge, Study Hub is
          here to support your educational journey.
        </p>
      </section>

      <section class="team">
        <h2>Meet the Team</h2>
        <div class="team-member">
          <h3>Ayush</h3>
          <p><strong>Role:</strong> Web Developer</p>
          <p><strong>E-mail:</strong> ayush.gla3_cs22@gla.ac.in</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
            voluptatibus reprehenderit natus quia incidunt optio! Cumque facere
            eius ducimus natus! Est omnis nesciunt eum optio ut nam nihil,
            temporibus maxime?
          </p>
        </div>

        <div class="team-member">
          <h3>Ram Lakhan</h3>
          <p><strong>Role:</strong> Web Developer</p>
          <p><strong>E-mail:</strong> ram.lakhan_cs22@gla.ac.in</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, ipsum
            adipisci nostrum expedita provident veniam! Perspiciatis architecto
            quia a laudantium.
          </p>
        </div>

        <div class="team-member">
          <h3>Shubham Maurya</h3>
          <p><strong>Role:</strong> Web Developer</p>
          <p><strong>E-mail:</strong> shubham.maurya_cs22@gla.ac.in</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo libero
            esse perferendis? Nihil ut suscipit libero esse fugit, minima
            deserunt laborum, sit consequatur pariatur maxime.
          </p>
        </div>
      </section>

      <section class="contact-info">
        <h2>Contact Us</h2>
        <p>
          If you have any questions or feedback, feel free to reach out to us:
        </p>
        <p>
          <strong>Email:</strong>
          <a href="xyz@gmail.com" style="color: white">xyz@gmail.com</a>
        </p>
        <p><strong>Phone:</strong> 1860 500 5002</p>
        <p><strong>Address:</strong> GLA University, Mathura(Uttar Pradesh)</p>
      </section>
    </div>
  </body>
</html>
