<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Courses - Study Space</title>
    <link rel="stylesheet" href="../css/courses.css" />
  </head>
  <body>
    <div class="nav">
      <h1>Study Space</h1>
      <input type="text" placeholder="Search..." />
    </div>

    <div id="body">
      <div class="courses-section">
        <div class="course">
          <img src="./img/Courses.png" />
          <div class="course-detail">
            <h2>Introduction to Programming</h2>
            <div class="course-time">
              <p>40hrs</p>
              <p>12 Lessons</p>
            </div>
            <button class="btn-enroll">
              <a href="./sub-courses">
                <a href="./sub-courses">Explore Now</a></a
              >
            </button>
          </div>
        </div>

        <div class="course">
          <img src="./img/Courses.png" />
          <div class="course-detail">
            <h2>Introduction to Programming</h2>
            <div class="course-time">
              <p>40hrs</p>
              <p>12 Lessons</p>
            </div>
            <button class="btn-enroll">
              <a href="./sub-courses">Explore Now</a>
            </button>
          </div>
        </div>

        <div class="course">
          <img src="./img/Courses.png" />
          <div class="course-detail">
            <h2>Introduction to Programming</h2>
            <div class="course-time">
              <p>40hrs</p>
              <p>12 Lessons</p>
            </div>
            <button class="btn-enroll">
              <a href="./sub-courses">Explore Now</a>
            </button>
          </div>
        </div>

        <div class="course">
          <img src="./img/Courses.png" />
          <div class="course-detail">
            <h2>Introduction to Programming</h2>
            <div class="course-time">
              <p>40hrs</p>
              <p>12 Lessons</p>
            </div>
            <button class="btn-enroll">
              <a href="./sub-courses">Explore Now</a>
            </button>
          </div>
        </div>
      </div>
      <div class="courses-section">
        <div class="course">
          <img src="./img/Courses.png" />
          <div class="course-detail">
            <h2>Introduction to Programming</h2>
            <div class="course-time">
              <p>40hrs</p>
              <p>12 Lessons</p>
            </div>
            <button class="btn-enroll">
              <a href="./sub-courses">Explore Now</a>
            </button>
          </div>
        </div>

        <div class="course">
          <img src="./img/Courses.png" />
          <div class="course-detail">
            <h2>Introduction to Programming</h2>
            <div class="course-time">
              <p>40hrs</p>
              <p>12 Lessons</p>
            </div>
            <button class="btn-enroll">
              <a href="./sub-courses">Explore Now</a>
            </button>
          </div>
        </div>

        <div class="course">
          <img src="./img/Courses.png" />
          <div class="course-detail">
            <h2>Introduction to Programming</h2>
            <div class="course-time">
              <p>40hrs</p>
              <p>12 Lessons</p>
            </div>
            <button class="btn-enroll">
              <a href="./sub-courses">Explore Now</a>
            </button>
          </div>
        </div>

        <div class="course">
          <img src="./img/Courses.png" />
          <div class="course-detail">
            <h2>Introduction to Programming</h2>
            <div class="course-time">
              <p>40hrs</p>
              <p>12 Lessons</p>
            </div>
            <button class="btn-enroll">
              <a href="./sub-courses">Explore Now</a>
            </button>
          </div>
        </div>
      </div>

      <div class="courses-section">
        <div class="course">
          <img src="./img/Courses.png" />
          <div class="course-detail">
            <h2>Introduction to Programming</h2>
            <div class="course-time">
              <p>40hrs</p>
              <p>12 Lessons</p>
            </div>
            <button class="btn-enroll">
              <a href="./sub-courses">Explore Now</a>
            </button>
          </div>
        </div>

        <div class="course">
          <img src="./img/Courses.png" />
          <div class="course-detail">
            <h2>Introduction to Programming</h2>
            <div class="course-time">
              <p>40hrs</p>
              <p>12 Lessons</p>
            </div>
            <button class="btn-enroll">
              <a href="./sub-courses">Explore Now</a>
            </button>
          </div>
        </div>

        <div class="course">
          <img src="./img/Courses.png" />
          <div class="course-detail">
            <h2>Introduction to Programming</h2>
            <div class="course-time">
              <p>40hrs</p>
              <p>12 Lessons</p>
            </div>
            <button class="btn-enroll">
              <a href="./sub-courses">Explore Now</a>
            </button>
          </div>
        </div>

        <div class="course">
          <img src="./img/Courses.png" />
          <div class="course-detail">
            <h2>Introduction to Programming</h2>
            <div class="course-time">
              <p>40hrs</p>
              <p>12 Lessons</p>
            </div>
            <button class="btn-enroll">
              <a href="./sub-courses">Explore Now</a>
            </button>
          </div>
        </div>
      </div>

      <div class="courses-section">
        <div class="course">
          <img src="./img/Courses.png" />
          <div class="course-detail">
            <h2>Introduction to Programming</h2>
            <div class="course-time">
              <p>40hrs</p>
              <p>12 Lessons</p>
            </div>
            <button class="btn-enroll">
              <a href="./sub-courses">Explore Now</a>
            </button>
          </div>
        </div>

        <div class="course">
          <img src="./img/Courses.png" />
          <div class="course-detail">
            <h2>Introduction to Programming</h2>
            <div class="course-time">
              <p>40hrs</p>
              <p>12 Lessons</p>
            </div>
            <button class="btn-enroll">
              <a href="./sub-courses">Explore Now</a>
            </button>
          </div>
        </div>

        <div class="course">
          <img src="./img/Courses.png" />
          <div class="course-detail">
            <h2>Introduction to Programming</h2>
            <div class="course-time">
              <p>40hrs</p>
              <p>12 Lessons</p>
            </div>
            <button class="btn-enroll">
              <a href="./sub-courses">Explore Now</a>
            </button>
          </div>
        </div>

        <div class="course">
          <img src="./img/Courses.png" />
          <div class="course-detail">
            <h2>Introduction to Programming</h2>
            <div class="course-time">
              <p>40hrs</p>
              <p>12 Lessons</p>
            </div>
            <button class="btn-enroll">
              <a href="./sub-courses">Explore Now</a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
