<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Courses - Study Space</title>
    <link rel="stylesheet" href="../css/courses.css" />
  </head>
  <body>
    <div class="nav">
      <h1>Study Space</h1>
      <input type="text" placeholder="Search..." />
    </div>

    <div id="body">
      <div class="courses-section">
        <div class="course">
          <img src="./img/Course/DSAtoDev.webp" />
          <div class="course-detail">
            <h2>DSA to Development</h2>
            <div class="course-time">
              <p>40hrs</p>
              <p>12 Lessons</p>
            </div>
            <button class="btn-enroll">
              <a
                href="./sub-courses"
                href="javascript:void(0);"
                onclick="fetchCourseTitle(event);"
                data-title="DSA to Development"
              >
                Explore Now</a
              >
            </button>
          </div>
        </div>

        <div class="course">
          <img src="./img/Course/DSAtoDev.webp" />
          <div class="course-detail">
            <h2>Introduction to Programming</h2>
            <div class="course-time">
              <p>40hrs</p>
              <p>12 Lessons</p>
            </div>
            <button class="btn-enroll">
              <a
                href="./sub-courses"
                href="javascript:void(0);"
                onclick="fetchCourseTitle(event);"
                data-title="Introduction to Programming"
              >
                Explore Now</a
              >
            </button>
          </div>
        </div>

        <div class="course">
          <img src="./img/Course/Java backend.webp" />
          <div class="course-detail">
            <h2>JAVA Backend Development</h2>
            <div class="course-time">
              <p>40hrs</p>
              <p>12 Lessons</p>
            </div>
            <button class="btn-enroll">
              <a
                href="./sub-courses"
                href="javascript:void(0);"
                onclick="fetchCourseTitle(event);"
                data-title="JAVA Backend Development"
              >
                Explore Now</a
              >
            </button>
          </div>
        </div>

        <div class="course">
          <img src="./img/Course/ML & DS.webp" />
          <div class="course-detail">
            <h2>Complete Machine Learning & Data Science</h2>
            <div class="course-time">
              <p>40hrs</p>
              <p>12 Lessons</p>
            </div>
            <button class="btn-enroll">
              <a
                href="./sub-courses"
                href="javascript:void(0);"
                onclick="fetchCourseTitle(event);"
                data-title="Complete Machine Learning & Data Science"
              >
                Explore Now</a
              >
            </button>
          </div>
        </div>
      </div>
      <div class="courses-section">
        <div class="course">
          <img src="./img/Course/GATE.webp" />
          <div class="course-detail">
            <h2>GATE Data Science</h2>
            <div class="course-time">
              <p>40hrs</p>
              <p>12 Lessons</p>
            </div>
            <button class="btn-enroll">
              <a
                href="./sub-courses"
                href="javascript:void(0);"
                onclick="fetchCourseTitle(event);"
                data-title="GATE Data Science"
              >
                Explore Now</a
              >
            </button>
          </div>
        </div>

        <div class="course">
          <img src="./img/Course/DevOps.webp" />
          <div class="course-detail">
            <h2>DevOps Engineering</h2>
            <div class="course-time">
              <p>40hrs</p>
              <p>12 Lessons</p>
            </div>
            <button class="btn-enroll">
              <a
                href="./sub-courses"
                href="javascript:void(0);"
                onclick="fetchCourseTitle(event);"
                data-title="DevOps Engineering"
              >
                Explore Now</a
              >
            </button>
          </div>
        </div>

        <div class="course">
          <img src="./img/Course/Full Stack.webp" />
          <div class="course-detail">
            <h2>Full Stack Development</h2>
            <div class="course-time">
              <p>40hrs</p>
              <p>12 Lessons</p>
            </div>
            <button class="btn-enroll">
              <a
                href="./sub-courses"
                href="javascript:void(0);"
                onclick="fetchCourseTitle(event);"
                data-title="Full Stack Development"
              >
                Explore Now</a
              >
            </button>
          </div>
        </div>

        <div class="course">
          <img src="./img/Course/Soft testing.webp" />
          <div class="course-detail">
            <h2>Complete Software Testing</h2>
            <div class="course-time">
              <p>40hrs</p>
              <p>12 Lessons</p>
            </div>
            <button class="btn-enroll">
              <a
                href="./sub-courses"
                href="javascript:void(0);"
                onclick="fetchCourseTitle(event);"
                data-title="Complete Software Testing"
              >
                Explore Now</a
              >
            </button>
          </div>
        </div>
      </div>

      <div class="courses-section">
        <div class="course">
          <img src="./img/Course/React.webp" />
          <div class="course-detail">
            <h2>React JS Course</h2>
            <div class="course-time">
              <p>40hrs</p>
              <p>12 Lessons</p>
            </div>
            <button class="btn-enroll">
              <a
                href="./sub-courses"
                href="javascript:void(0);"
                onclick="fetchCourseTitle(event);"
                data-title="React JS Course"
              >
                Explore Now</a
              >
            </button>
          </div>
        </div>

        <div class="course">
          <img src="./img/Course/AI.webp" />
          <div class="course-detail">
            <h2>Mastering Generative AI</h2>
            <div class="course-time">
              <p>40hrs</p>
              <p>12 Lessons</p>
            </div>
            <button class="btn-enroll">
              <a
                href="./sub-courses"
                href="javascript:void(0);"
                onclick="fetchCourseTitle(event);"
                data-title="Mastering Generative AI"
              >
                Explore Now</a
              >
            </button>
          </div>
        </div>

        <div class="course">
          <img src="./img/Course/C++.webp" />
          <div class="course-detail">
            <h2>C++ Programming</h2>
            <div class="course-time">
              <p>40hrs</p>
              <p>12 Lessons</p>
            </div>
            <button class="btn-enroll">
              <a
                href="./sub-courses"
                href="javascript:void(0);"
                onclick="fetchCourseTitle(event);"
                data-title="C++ Programming"
              >
                Explore Now</a
              >
            </button>
          </div>
        </div>

        <div class="course">
          <img src="./img/Course/avaScript.webp" />
          <div class="course-detail">
            <h2>JavaScript Full Course</h2>
            <div class="course-time">
              <p>40hrs</p>
              <p>12 Lessons</p>
            </div>
            <button class="btn-enroll">
              <a
                href="./sub-courses"
                href="javascript:void(0);"
                onclick="fetchCourseTitle(event);"
                data-title="JavaScript Full Course"
              >
                Explore Now</a
              >
            </button>
          </div>
        </div>
      </div>

      <div class="courses-section">
        <div class="course">
          <img src="./img/Course/C program.webp" />
          <div class="course-detail">
            <h2>C Programming Course</h2>
            <div class="course-time">
              <p>40hrs</p>
              <p>12 Lessons</p>
            </div>
            <button class="btn-enroll">
              <a
                href="./sub-courses"
                href="javascript:void(0);"
                onclick="fetchCourseTitle(event);"
                data-title="C Programming Course"
              >
                Explore Now</a
              >
            </button>
          </div>
        </div>

        <div class="course">
          <img src="./img/Course/Cloud AWS.webp" />
          <div class="course-detail">
            <h2>Cloud Programming</h2>
            <div class="course-time">
              <p>40hrs</p>
              <p>12 Lessons</p>
            </div>
            <button class="btn-enroll">
              <a
                href="./sub-courses"
                href="javascript:void(0);"
                onclick="fetchCourseTitle(event);"
                data-title="Cloud Programming"
              >
                Explore Now</a
              >
            </button>
          </div>
        </div>

        <div class="course">
          <img src="./img/Course/Django.webp" />
          <div class="course-detail">
            <h2>Django Full Course</h2>
            <div class="course-time">
              <p>40hrs</p>
              <p>12 Lessons</p>
            </div>
            <button class="btn-enroll">
              <a
                href="./sub-courses"
                href="javascript:void(0);"
                onclick="fetchCourseTitle(event);"
                data-title="Django Full Course"
              >
                Explore Now</a
              >
            </button>
          </div>
        </div>

        <div class="course">
          <img src="./img/Course/backend.webp" />
          <div class="course-detail">
            <h2>Complete Backend</h2>
            <div class="course-time">
              <p>40hrs</p>
              <p>12 Lessons</p>
            </div>
            <button class="btn-enroll">
              <a
                href="./sub-courses"
                href="javascript:void(0);"
                onclick="fetchCourseTitle(event);"
                data-title="Complete Backend"
              >
                Explore Now</a
              >
            </button>
          </div>
        </div>
      </div>
    </div>
    <script>
      function fetchCourseTitle(event) {
        event.preventDefault();
        const courseTitle = event.target.getAttribute("data-title");

        fetch("/api/sendCourseTitle", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ title: courseTitle }),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log("Success:", data);
            // Redirect to the new page with the course title as a query parameter
            window.location.href = `/sub-courses?title=${encodeURIComponent(
              courseTitle
            )}`;
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    </script>
  </body>
</html>
