<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DSA to Development</title>
    <link rel="stylesheet" href="css/sub-courses.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="./courses">All Courses</a></li>
          <li><a href="#">Live</a></li>
        </ul>
      </nav>
      <h1>DSA to Development</h1>
      <h2>A Complete Guide</h2>
    </header>

    <main>
      <section class="features">
        <ul>
          <li><img src="./img/check.png" alt="" />Comprehensive Learning</li>
          <li><img src="./img/check.png" alt="" />Industry Readiness</li>
        </ul>
        <p>Recommended for Students and Working Professionals</p>
      </section>

      <section class="cta">
        <button>Login To Register</button>
        <button>Download Brochure</button>
      </section>
    </main>
  </body>
</html>
